services:
  db:
    image: postgres:15
    container_name: pr_postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    container_name: pr_app
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_CONN: ${DB_CONN}
      PORT: ${APP_PORT}
    ports:
      - "${APP_PORT}:${APP_PORT}"
    command: ["./app"]

volumes:
  postgres_data: